.HomeHeaderWrap {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #f2f2f2;
  background-color: #fff;
  box-shadow: #f2f2f2 3px 3px 3px;
  .welcome {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    margin-right: 20px;
    font-size: 13px;
    color: rgba(0,0,0,.65);

    a {
      color: rgba(0,0,0,.65);
    }
  }

  .dividing {
    background-color: rgba(0,0,0,.65);
    width: 1px;
    height: 10px;
    margin: 0 10px;
  }

  .noticeIcn {
    font-size: 22px;
  }

  .noticeWrap {
    margin-right: 20px;
    cursor: pointer;
  }

  .languageChange {
    position: absolute;
    left: 270px;
    padding: 25px 0;
  }
}
