.AnnouncementDetailWrap {
    .detailTitle {
        height: 30px;
        font-size: 22px;
        text-align: center;
    }
    
    .detailTime {
        font-size: 12px;
        text-align: center;
        padding: 16px 0 30px;
        border-bottom: 2px solid #ededed;
    }
    
    .detailContent {
        margin-top: 30px;
    }
}

.image___2VjzV {
    text-align: left;
}