@import "../../scss/_base";
.topHeader{
  height: 70px;
  background: white;
  @include flexbox(row, space-between, center, null);
  > div:first-child{
    width: 200px;
    padding: 0 5px;
    @include flexbox(row, space-between, center, null);
    img{
      width:100px;
    }
  }
  > div:last-child{
    width: 450px;
    height:50px;
    > div{
      width: 100%;
    }
    @include flexbox(column, space-around, flex-end, null);
    ul{
        width: 100%;
        padding-right: 10px;
        li{
          position: relative;
          float: right;
          padding: 0 15px;
          cursor: pointer;
          > div{
            position: absolute;
            width: 100%;
            height: 10px;
            left: 0;
            top: 3px;
            border-left: 1px solid #c2c2c2;
          }
        }
        li:last-child{
          > div{
            border-left: none;
          }
        }
    }
  }
}
.topMenu{
  height: 38px;
  background: white;
  border-top: 1px solid #f2f2f2;
  box-shadow:0 2px 2px #d9d9d9;
  @include flexbox(row,flex-start,center,null);
  >ul{
      height: 100%;
    li{
      height: 100%;
      line-height: 38px;
      float:left;
      font-size: 14px;
      cursor: pointer;
      font-weight: 200;
      padding:0 15px;
    }
    li.active{
      border-top: 1px solid #c0c0c0;
      border-left: 1px solid #c0c0c0;
      border-right: 1px solid #c0c0c0;
      background: #f2f2f2;
    }
  }
}