@import "../../scss/_base";

.allOrders{
  padding: 0 10px;
  
  .ant-table {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, 
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }

  h1{
    margin:10px 15px;
    font-weight: 500;
    font-size: 25px;
    a{
      font-size: 18px;
      margin-left: 15px;
    }
  }
  .ezbuyRule{
    @include flexbox(row,flex-end,center,null);
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .orders{
    padding: 15px 10px;
    background: white;
    border: 1px solid #ebebeb;
    margin-bottom: 25px;
    .name{
      text-align: right;
      color: #a6a7b1;
    }
  }
  .query{
    padding: 15px 10px;
    background: white;
    border: 1px solid #ebebeb;
    margin-bottom: 25px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, 
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
  .orderDetail{
    margin-bottom: 25px;
    .title{
      padding: 5px;
      height: 45px;
      background: #f2f2f2;
      margin-bottom: 2px;
      >div{
        @include flexbox(row,flex-start,center,null);
      }
    }
  }
  .detailList{
    .sum{
      padding:10px;
      background: #f2f2f2;
      .tag{
        background: $color-red;
        color: white;
        font-weight: bold;
        padding:1px 3px;
        border-radius: 3px;
      }
      ul{
        width: 100%;
        padding-right: 10px;
        li{
          position: relative;
          float: left;
          padding: 0 15px;
          cursor: pointer;
          > div{
            position: absolute;
            width: 100%;
            height: 10px;
            left: 0;
            top: 3px;
            border-right: 1px solid #c2c2c2;
          }
        }
        li:last-child{
          > div{
            border-right: none;
          }
        }
      }
    }
    .detail{
      >div{
        padding:15px 5px;
      }
      .orderState{
        padding: 1px 3px;
        background: #93cffc;
        color: white;
      }
    }
  }
  .taged {
    position: relative;
    &:after {
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #f00;
      position: absolute;
      top: 5px;
      left: -8px;
    }
  }
}
.inputArea{
  margin-bottom:10px; 
}
.operateOrder{
  button{
    margin:5px 0;
  }
  @include flexbox(column,space-around,center,null);
}