.checkToDeliveryOrder{
  > .extraInfo{
    margin-top:10px;
    border:1px solid rgb(233, 233, 233);
    padding:15px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, 
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
  background: white;
  padding: 20px;
  h1{
    margin:10px 5px;
    font-weight: 200;
    font-size: 20px;
  }
  .ant-form-item{
    margin-bottom:10px;
  }
  .excelOperate{
    margin-top:15px;
    margin-bottom:20px;
  }

  .ant-table {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, 
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
  .taged {
    position: relative;
    &:after {
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #f00;
      position: absolute;
      top: 5px;
      left: -8px;
    }
  }
}
