@import "../../scss/_base";
.checkDeliveredOrder{
  background: white;
  padding: 20px;
  h1{
    margin:10px 5px;
    font-weight: 200;
    font-size: 20px;
  }
  .filter{
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .ant-table {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, 
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
}
.coSaleIcon{
  display:inline-block;
  color:white;
  height:18px;
  width:18px;
  background: #01b3ca;
  margin-left:5px;
  line-height: 18px;
  text-align: center;
  border-radius: 3px;
}