.orderHeadTabs {
  font-size: 14px;

  .spanTab {
    display: inline-block;
    margin: 0px 10px;
    padding: 12px 4px;
    color: #22a5dc;
    transition: all .3s ease-in-out;

    &:hover {
      background-color: #8fcaff;
      text-decoration: underline;
    }
  }

  .spanTabHover {
    background-color: #8fcaff;
    text-decoration: underline;
  }

  .header {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0px 20px;

    .sortSelect {
      width: 200px;
    }

    .printSelect {
      width: 200px;
      margin-left: 20px;
    }
  }

}
