.isSingleTable, .isNotSingleTable {
  border-spacing: 0;  
  width: 100%;
  text-align: center;
  th, td {
    border: 1px solid #eee;
    font-weight: normal;
  }
  .input {
    text-align: center;
    border: none;
    border-radius: 0;
    height: 32px;
    &:focus {
      outline: none;
    }
  }
}

.require-label {
  color: #f00;
  vertical-align: middle;
  padding: 2px 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.inputNumber {
  width: 50px;
  height: 32px;
  border: none;
  outline: none;
  text-align: center;
}
.dragTarget{
  position:relative;
  display: inline-block;
  padding:5px;
  width:172px;
  height:172px;
  border:1px solid #ccc;
  border-radius:5px;
  margin-right:10px;
  .dragItem{
    cursor: pointer;
    position:relative;
    width:160px;
    height:160px;
    border-radius:5px;
    overflow: hidden;
    img{
      width:100%;
      height:100%;
    }
    >.head{
      position:absolute;
      width:100%;
      left:0;
      background: #108ee9;
      color:white;
      top:0;
      line-height:30px;
      text-align:center;
    }
    >.foot{
      position:absolute;
      width:100%;
      left:0;
      color:white;
      bottom:0;
      line-height:30px;
      text-align:center;
    }
  }
}

#customImageList {
  li {
    cursor: move;
    font-size: 16px;
  }
}