.hide {
  display: none;
}
.text-center {
  text-align: center;
}
.no-wrap {
  white-space: nowrap;
}
.un-read-notice {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #49A9EE;
  border-radius: 50%;
  left: 32px;
  top: 17px;
}
.packageDelivery {
  padding: 20px;
  .packageTable {
    margin-top: 20px;
    .skuImage {
      max-width: 100%;
    }
  }
}

.taged {
  position: relative;
  &:after {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f00;
    position: absolute;
    top: 7px;
    left: -8px;
  }
}

.dispatchingInp {
  width: 250px;
  margin-left: 15px;
}

.inlineBlock {
  display: inline-block;
  max-width: 350px;
}

.formBtn {
  display: flex;
  margin-bottom: 15px;
}
