<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="shortcut icon" href="/static/favicon_ezbuy.ico" type="image/x-icon">
  <style>
  #loading{
      background-image: url(../static/loading.gif);
      background-position: center center;
      background-repeat: no-repeat;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255,.5);
      display: none;
  }
  </style>
</head>
<body>
  <div id="container">

  </div>
</body>
</html>
