<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="/asset/quill.css">
  <link rel="stylesheet" href="/asset/trumbowyg.min.css">
  <link rel="shortcut icon" href="/static/favicon_ezbuy.ico" type="image/x-icon">
  <style>
  #loading{
      background-image: url(../static/loading.gif);
      background-position: center center;
      background-repeat: no-repeat;
      position: fixed;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(255,255,255,.5);
      display: none;
  }
  #printTips {
    position: fixed;
    z-index: 1000;
    padding-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8)
  }
  </style>
</head>
<body>
  <div id="printTips"></div>
  <div id="container">
  </div>
  <script src="/asset/link.js"></script>
  <script src="/asset/quill.js"></script>
</body>
</html>
