.singleProductWrap {
  padding: 10px 20px;

  .searchInputWrap {
    margin-top: 20px;
    width: 600px;

    .searchAutoComplete {
      width: 600px;
    }
    .searchInput {
      height: 35px;
      font-size: 14px;
    }
  }

  .productWrap {
    width: 700px;
    margin-top: 40px;

    :nth-child(1) {
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 14px;
    }

    img {
      width: 200px;
      height: 150px;
      border: 1px solid #ccc;
    }
  }

  .reportType {
    display: flex;
    align-content: center;
    margin: 10px 0px;
  }

  .greenPoint {
    display: inline-block;
    background-color: #00a207;
    border-radius: 16px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }
}
