.orderBodyTable {
  .marRight {
    margin-right: 5px;
  }

  .marLeft {
    margin-left: 10px;
  }

  .productTr {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    word-break: break-all;

    .imageWrap {
      height: 100px;
      width: 100px;
      margin-right: 10px;

      img {
        height: 100px;
        width: 100px;
      }
    }

    .orderId {
      font-weight: bold;
      font-size: 12px;

      span {
        background-color: #2c8eea;
        border-radius: 4px;
        padding: 2px 6px 2px 4px;
        margin-left: 10px;
        color: #fff;
      }
    }

    .productName {
      color: #5596fc;
    }
  }

  .taged {
    position: relative;
    &:after {
      display: block;
      content: '';
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: #f00;
      position: absolute;
      top: 5px;
      left: -8px;
    }
  }
}
