.forgetPasswordWrap {

  section {
    width: 1200px;
    margin: 0 auto;
  }

  .steps {
    margin: -6px 0 0 225px;
    min-width: 650px;

    .ant-steps-small .ant-steps-item-title {
    	font-size: 16px !important;
    }
  }

  .contentWrap {
    margin: 100px 0 0 125px;

    .radio {
      margin-right: 40px;

      .radioLabel {
        margin-left: 10px;
        color: #8c8c8c;
      }
    }

    .radioGroup {
      margin-top:  -20px;
    }

    .inputPhone {
      width: 264px;
      height: 36px;
      border-radius: 2px;
    }
    .inputEmail {
      width: 310px;
      height: 36px;
      border-radius: 2px;
    }
    .getCodeWrap {
      margin-top: 20px;
    }

    .inputCode {
      width: 185px;
      height: 36px;
      border-radius: 2px;
    }

    .getCode {
      margin-left: 10px;
      width: 115px;
      height: 36px;
      border-radius: 2px;
    }
  }

  .completeImg {
    width: 134px;
    height: 210px;
    margin-right: 85px;
  }

  .completeWrap {
    display: flex;
    margin:100px 0 0 -60px;
  }

  .completeTitle {
    margin-top: 25px;
    font-size: 24px;
    color: #2890fb;
  }
}
