.ContainerWrap {
  margin-left: -20px;
  padding: 20px;
  background-color: #f2f2f2;

  .chidrenWrap {
    background-color: #fff;
  }

  .chidrenWrap_header {
    padding: 0 26px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid rgb(238, 238, 238);
  }
}
