.ApprovedShopWrap {
  margin-left: -20px !important;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;

  section {
    margin-top: 16px;
  }

  .leftColSection {
    margin: 0 16px 16px 0;
    background-color: #ffffff;
  }

  .sellerTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333333;
    font-size: 16px;
    padding: 15px 24px 14px;
    border-bottom: solid 1px #eeeeee;

    .more {
      font-size: 12px;
    }
  }

  .sellerContentTitle {
    color: #333333;
  }
  .sellerContent {
    text-align: center;

    .sellerContentDetail{
      padding: 30px 0;
    }
  }

  .announcements {
    display: flex;
    font-size: 12px;
    cursor: pointer;
    justify-content: space-between;
    height: 30px;
    line-height: 30px;
    margin: 0 24px;

    & > :nth-child(1) {
      color: #666666;
    }

    & > :nth-child(2) {
      color: #999999;
    }

    a:hover {
      color: #3f86f8;
    }
  }

  .productRankTitle {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    color: #999999;
  }

  .homePopup {
    text-align: center;
  }

  .popupHeader {
    height: 90px;
    line-height: 90px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    background-image: linear-gradient(264deg, #4f9fff, #3e82f7);
  }

  .popupContent {
    img {
      margin: 30px 0;
      width: 134px;
      height: 210px;
    }

    & > :nth-child(2) {
      font-size: 24px;
      color: var(--black);
      margin-bottom: 35px;
    }

    & > :nth-child(3) {
      color: #fff;
      width: 248px;
      height: 44px;
      border-radius: 4px;
      font-size: 24px;
      font-weight: 500;
    }
  }

  .salesAmountWrap {
    margin: 20px 0 26px;
  }

  .rightColFooter {
    background-color: #fff;
  }

  .productRankWrap {
    padding: 30px;
  }

  .noProduct {
    height: 250px;
    background-image: url(./image/no_product.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .noNews {
    height: 250px;
    background-image: url(./image/no_news.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  .announcementsList {
    padding: 20px 0;
  }
}
