.CommonWrap {
    background-color: #f2f2f2;
    padding: 20px;
    margin-left: -20px;

    & > :nth-child(1) {
        background-color: #fff;
    }

    header {
        padding:0 30px;
        height: 50px;
        line-height: 50px;
        font-family: PingFangSC;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 2px solid #eeeeee;
    }
    section {
        padding: 28px 30px;
    }
}