.subpage_kr {
  overflow: hidden;
  width: 142mm;
  height: 206mm;
  transform: scale(0.70);
  transform-origin: left top;
  font-size: 12px;
  .watermark { 
    position: absolute;
    left: 370px;
    top: 60px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    opacity: 1;
    border: 1px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 51px;
  }
  .tr_content {
    height: auto;
  }

  .username {
    word-break: break-all;
  }
}
