
.subpage_local {
  overflow: hidden;
  width: 142mm;
  height: 180mm;
  transform: scale(0.70);
  transform-origin: left top;
  font-size: 12px;
  .watermark { 
    position: absolute;
    left: 360px;
    top: 25px;
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    opacity: 1;
    border: 1px solid #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 51px;
  }
  .username {
    font-size: 24px;
    word-break: break-all;
    margin-bottom: 5px;
  }
}

