.header {
  .top {
    padding: 15px 0;
    height: 46px;
    border: solid 1px #eaeaea;
    box-shadow: #eee 3px 3px 3px;
  }
  .top__left {
    float: left;
    display: flex;
    align-items: center;
  }
  .top__right {
    float: right;
  }
  .logo {
    padding-top: 25px;
    height: 100px;
    .image {
      float: left;
      width: 160px;
      img {
        width: 100%;
      }
    }
    .title {
      margin-left: 40px;
      font-size: 22px;
      height: 46px;
      line-height: 46px;
    }
  }
  .lang {
    margin-left: 20px;
    color: rgba(0,0,0,.65);
  }
}
