@import "common";

.register {
  margin: 0 auto;
  padding: 100px 0;
  width: 1200px;
  .form {
    .form__item {
      @include clearfix();
      margin-bottom: 25px;
    }
    .form__item__label {
      span {
        color: #ff5a00;
      }
      float: left;
      width: 140px;
      text-align: right;
    }
    .form__item__input {
      display: inline-block;
      margin-left: 20px;
      width: 310px;
      border-radius: 2px;
    }
    .form_detail_address_input {
      display: inline-block;
      margin-top: 10px;
      margin-left: 20px;
      left: 140px;
      width: 310px;
      border-radius: 2px;
    }
    .from_other_platform_radio {
      margin-top: 10px;
      display: 'block';
      margin-bottom: 15px;
    }
    .form_other_platform_select {
      margin-left: 20px;
      width: 234px;
    }
    .form_no_other_platform_tip {
      margin-left: 10px;
      color: #ccc;
    }
    .from_other_platform_url_label {
      span {
        color: #ff5a00;
      }
      width: 70px;
      text-align: left;
    }
    .from_other_platform_url_input {
      display: inline-block;
      text-align: left;
      width: 310px;
      border-radius: 2px;
    }
    .from_other_platform_upload_button {
      margin-left: 20px;
      width: 234px;
    }
    .from_other_platform_tip_label {
      color: #666;
      font-size: 3px;
      margin-top: 10px;
    }
    .ez_form_item_radioGroup {
      display: inline-block;
      margin-left: 20px;
      width: 310px;
      border-radius: 2px;
    }
    .ez_form_item_radio_input {
      display: inline-block;
      margin-left: 10px;
      width: 235px;
      border-radius: 2px;
    }
    .form__item__input--radio{
      @extend .form__item__input;
      width: 1000px;
      .item__check {
        margin-right: 48px;
      }
    }
    .form__item__input--captcha {
      @extend .form__item__input;
      .captcha__input {
        width: 185px;
        height: 36px;
        border-radius: 2px;
      }
      .captcha__button {
        margin-left: 10px;
        width: 115px;
        height: 36px;
        font-size: 16px;
        border-radius: 2px;
      }
    }
    .form__item__input--submit {
      width: 100%;
      border-radius: 2px;
      font-size: 16px;
    }
    .form__item--info {
      display: inline-block;
      margin-left: 10px;
      .item__info--default {
        color: #ccc;
      }
      .item__error--right {
        display: none;
        font-size: 16px;
        color: #3e82f7;
        span {
          font-size: 14px;
        }
      }
      .item__error--wrong {
        display: none;
        font-size: 16px;
        color: #ff525e;
        span {
          font-size: 14px;
        }
      }
    }
  }
  .bottom__info  {
    margin: 130px auto;
    padding-top: 20px;
    width: 1000px;
    border-top: 2px solid #3e82f7;
    text-align: center;
    font-size: 16px;
  }
}

.approve {
  @extend .register;
  width: 760px;
  padding: 0;
  .title {
    padding-left: 280px;
  }
  .person__photo__info {
    margin-top: 20px;
    padding: 10px;
    width: 580px;
    border-radius: 2px;
    background-color: #f9f9f9;
    border: 1px dashed #b8b8b8;
    ol {
      margin-bottom: 0;
      padding: 10px 30px;
      li {
        margin-bottom: 10px;
        font-size: 12px;
        color: #666;
      }
    }
  }
}
