.container {
  padding: 20px;
  min-width: 1000px;
  min-height: 900px;
  background: #f2f2f2;
  .shop__process {
    margin-top: 20px;
    padding: 15px 30px;
    min-height: 720px;
    background: #fff;
    border-radius: 6px;
    .top__title {
      line-height: 1;
      padding-top: 5px;
      padding-bottom: 15px;
      font-size: 16px;
      color: #333;
      border-bottom: 1px solid #eeeeee;
    }
    .panel__choose {
      margin: 80px auto;
      width: 200px;
      text-align: center;
      color: #666666;
      .img {
        margin: 0 auto 20px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
      }
      .title {
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: bold;
      }
      .info{
        margin-bottom: 20px;
        font-size: 12px;
      }
      .button {
        width: 100%;
        height: 36px;
      }
    }
    .progress__bar {
      margin: 30px auto;
      width: 919px;
      height: 50px;
      .step__item {
        display: inline-block;
        width: 229px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        color: #999999;
        &.active {
          color: #fff;
        }
      }
      &.step1 {
        background-image: url("../image/1.png");
      }
      &.step2 {
        background-image: url("../image/2.png");
      }
      &.step3 {
        background-image: url("../image/3.png");
      }
      &.step4 {
        background-image: url("../image/4.png");
      }
    }
    .step__two__button {
      margin-top: 20px;
      .button {
        margin-right: 15px;
        width: 200px;
        height: 36px;
      }
    }
  }
}
