.allProductWrap {
  padding: 10px 20px;

  .reportType {
    display: flex;
    align-content: center;
    margin: 10px 0px;
  }

  .greenPoint {
    display: inline-block;
    background-color: #00a207;
    border-radius: 16px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
  }

  .detailWrap {
    display: inline-block;
    text-align: center;
    width: auto;
    height: 60px;
    border: 1px solid white;

    .label {
      display: inline-block;
      width: 100%;
      height: 30px;
      line-height: 24px;
      color: #fff;
      background-color: #108ee9;
      padding: 2px 12px;
      border-radius: 4px;
    }
    .value {
      color: #108ee9;
      width: 100%;
      height: 30px;
      line-height: 30px;;
    }
  }

  .actionBtn {
    color: #0000ff;
    cursor: pointer;
  }
}
