.HomeWrap {
  .main {
    display: flex;
    justify-content: flex-start;

    & > :nth-child(1) {
      padding-bottom: 200px;
      height: 100%;
      overflow-y: scroll;
    }

    & > :nth-child(2) {
      min-width: 950px;
      width: 90%;
      margin: 70px 5px 0 250px;
      height: 100%;
      background-color: transparent;
    }
  }
  .noMenuContainer {
    padding-top: 70px;
  }
}
