.arrangeProduct{
  h1{
    margin:10px 40px;
    font-weight: 200;
    font-size: 25px;
  }
  >section{
    background: white;
    padding: 20px;
    .info{
      margin: 15px 0;
      padding: 15px;
      border: 1px solid #d2e6f9;
      background: #f5f9fd;
    }
    .onSell{
      .operate{
        padding: 5px;
        height: 40px;
        ul{
          width: 100%;
          padding-right: 10px;
          li{
            position: relative;
            float: left;
            padding: 0 15px;
            cursor: pointer;
            > div{
              position: absolute;
              width: 100%;
              height: 10px;
              left: 0;
              top: 3px;
              border-right: 1px solid #c2c2c2;
            }
          }
          li:last-child{
            > div{
              border-right: none;
            }
          }
        }
      }
    }
  }

  .ant-table {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px,
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
}

.productTitleLink {
  position: relative;
  display: inline-block;
  width: 100%;

  .editIcon {
    position: absolute;
    margin-top: 4px;
    right: 0px;
  }
}

.blueTag{
  background: blue;
  color: white;
  font-weight: bold;
  padding:1px 3px;
  border-radius: 3px;
}

.sortSales {
  margin-left: 10px;
  width: 160px;
}
