@import "../../scss/_base";
.mdCategory{
  h1{
    margin:5px;
    font-weight: normal;
    font-size: 16px;
    color:black;
  }
  .chooseUsed{
    label{
      color:black;
    }
    margin:10px 0;
  }
  .mdcs{
    margin: 0 auto;
    border: 1px solid #d5e4fa;
    background:white;
    .ant-col-6{
      padding:5px;
      height:258px;
      overflow: scroll;
    }
  }

  .categoryPath{
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #fedbab;
    background: #fffaf2;

    > div{
      height: 32px;
      padding-left: 25px;
      line-height: 32px;
    }
  }
}
.displayUl {
  list-style: none !important;
}
.submitButton{
  @include flexbox(row,center,center,null);
}
.cc-nav{
  background:url(../../resources/static/icons.png);
}
.settleContent{
  margin: 0 auto;
  margin-top:20px;
  border:1px solid #ccc;
  padding: 20px;
  background: white;
  header{
    text-align:center;
    font-size: 20px;
    color:#000;
  }
  .protocol{
    width:100%;
    height:500px;
    border:2px solid #ccc;
    margin-bottom: 10px;
    overflow: scroll;
    padding:15px;
    .shipList{
      img{
        width:100%;
      }
    }
    h1{
      text-align:center;
      font-size:25px;
      font-weight: normal;
      margin: 1.5rem 0;
    }
    p {
      color: #333;
    }
    li {
      padding: 4px 0;
    }
    li.decimal {
      list-style-type: decimal;
    }
    li.initial {
      list-style-type: initial;
    }
    .paragraph{
      margin-bottom:20px;
    }
    .tab{
      margin-left:10px;
    }
  }
}
