.importProduct{
  h1{
    margin:10px 20px;
    font-weight: 200;
    font-size: 25px;
  }
  section{
    padding: 10px;
    min-height: 300px;
    position: relative;
    .infoCollect{
      position: relative;
      margin-bottom:10px;
    }
  }

  .ant-table {
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, 
    rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }
}