@import "../../scss/_base";
.infoArea{
  padding:20px 30px 20px 30px;
  border: 1px solid #24a2f1;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  background:white;
  .quilEditor{
    ul {
      list-style: inherit !important;
    }
    ol {
      list-style: decimal !important;
    }
    display: inline-block;
    width: 900px;
    position: relative;
    img{
      width:700px;
    }
    .masker {
      position: absolute; 
      left: 0; 
      top: 0; 
      padding: 40px 15px;
      width: 100%; 
      height: 100%; 
      background: #eee; 
      opacity: 1; 
      z-index: 1;
    }
    .button-group {
      position: absolute;
      left: 591px;
      top: 8px;
      z-index: 2;
      color: #000;
    }
  }
  > .struct{
   > table{
      width: 100%;
      tr{
        td{
          padding-bottom: 10px;
          > .priceList{
            margin-top: 20px;
            .batchSet{
              border: 1px solid #f3f3f3;
              padding: 10px 20px;
              @include flexbox(row,space-around,center,null);
            }
          }
          .packUp{
            @include flexbox(row,center,center,null);
            margin-top: 15px;
            padding: 20px 0;
            border-top: 1px solid #d7d7d7;
          }
        }
        td:first-child{
          width:130px;
          text-align: right;
          padding-right: 5px;
          vertical-align: top;
          position: relative;
          i{
            @include asterisk;
          }
        }
        .titleBox{
          margin-bottom: 5px;
        }
      }
      .singleTr{
          line-height: 29px;
      }
      .info{
        font-size: 10px;
      }
      .props{
        background-color: #f9f9f9;
        border: 1px solid #eee;
        padding: 15px 25px;
        @include flexbox(row,center,center,null);
        >.property{
          width:100%;
          margin-bottom: 5px;
          tr{
            td:first-child{
              width:130px;
              text-align: right;
              padding-right: 15px;
              position: relative;
              i{
                @include asterisk;
              }
              >span{
                padding-right:5px;
              }
            }
            td{
              padding-bottom: 10px;
            }
          }
        }
        >.related{
          width: 100%;
          margin-top: 20px;
          >tr{
            td:first-child{
              width: 50%;
              text-align: right;
              padding-right: 25px;
            }
            td:last-child{
              width: 50%;
              text-align: left;
            }
          }
        }
      }
    }
  }

}
.ant-breadcrumb{
  .changeCategory{
    color: #2db7f5;
  }
}
.ant-checkbox-group{
  label{
    margin-right: 10px;
  }
}
.quill {
  border: #eee solid 1px;
  vertical-align: text-top;
  .quill-contents {
    border-top: #eee solid 1px;
  }
  .ql-editor{
    min-height: 300px;
  }
}
.ant-upload-select-picture-card i {
  font-size: 28px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  font-size: 12px;
  color: #666;
}

.upload-example {
  position: relative;
  display: inline-block;
  height: 96px;
  width: 96px;
  padding: 8px;
  border: 1px solid #d9d9d9;
  border-radius: 6px;
  vertical-align: top;
}

.upload-example img {
  height: 78px;
  width: 78px;
}

.upload-example:before {
  position: absolute;
  bottom: 8px;
  left: 8px;
  content: ' ';
  width: 78px;
  height: 24px;
  background-color: #808080;
  opacity: .8;
}

.upload-example span {
  position: absolute;
  bottom: 8px;
  left: 8px;
  width: 78px;
  height: 24px;
  color: #fff;
  line-height: 24px;
  text-align: center;
}
.submit{
  @include flexbox(column,center,flex-end,null);
  border-top: 1px dashed #cccccc;
  padding-top:20px;
  .buttons{
    padding-top:20px;
    width: 400px;
    @include flexbox(row,center,center,null);
  }
}
.dragContent{
  margin-top:10px;
  @include flexbox(row,flex-start,center,wrap);
}
.dragTarget{
  position:relative;
  padding:5px;
  width:172px;
  height:172px;
  border:1px solid #ccc;
  border-radius:5px;
  margin-right:10px;
  .dragItem{
    cursor: pointer;
    position:relative;
    width:160px;
    height:160px;
    border-radius:5px;
    overflow: hidden;
    img{
      width:100%;
      height:100%;
    }
    >.head{
      position:absolute;
      width:100%;
      left:0;
      background: #108ee9;
      color:white;
      top:0;
      line-height:30px;
      text-align:center;
    }
    >.foot{
      position:absolute;
      width:100%;
      left:0;
      color:white;
      bottom:0;
      line-height:30px;
      text-align:center;
    }
  }
}