@import "../../scss/_base";
.skus{
  padding: 10px;
  background: #f2f2f2;
  .skuScrollContainer{
    overflow-x: scroll;
    padding:10px;
    .skuScroll{
      width:2100px;
    }
  }
  .skuDetail{
    margin-top: 10px;
    border-top:1px solid #666;
    border-bottom:1px solid #666;
    >div{
      line-height: 50px;
    }
  }
  .skuList{
    >div{
      line-height: 50px;
    }
    border-bottom:1px solid #ccc;
  }
  .addSkuImg{
    border-bottom:1px solid #666;
    line-height:50px;
  }
  > .buttonList{
    margin-bottom: 10px;
    button{
      margin-left: 10px;
    }
  }
  > table{
    width: 100%;
      tr{
        td{
          padding-bottom: 10px;
        }
        td:first-child{
          width:130px;
          text-align: right;
          padding-right: 5px;
          vertical-align: top;
          position: relative;
          i{
            @include asterisk;
          }
        }
      }
  }
}
