.subImportProduct{
  h1{
    margin:10px 5px;
    font-weight: 200;
    font-size: 20px;
  }
  section{
    background: white;
    padding: 20px;
    min-height: 300px;
    position: relative;
    .infoCollect{
      position: relative;
      margin-bottom:10px;
    }
  }
}