.IconWrap {
    text-align: center;

    & > :nth-child(2) {
        position: relative;
        margin: 8px 0 4px;
        font-size: 22px;
        color: #333333;
    }

    & > :nth-child(3) {
        font-size: 12px;
        color: #999999;
    }

    .overtime {
        position: absolute;
        top: -6px;
        font-size: 12px;
        cursor: pointer;
        color: #fff;
        border-radius: 10px;
        padding: 0px 10px; 
        background-color: #ec686a;
    }

    &:hover {
        & > :nth-child(2), & > :nth-child(3) {
            color: #3f86f8;
        }
    }
}