.AnnouncementPopupWrap {
    margin: 36px auto 30px;
    width: 920px;
    height: 500px;

    section {
        width: 920px;
        height: 500px;
        border-radius: 8px;
        background-color: #ffffff;
        border: solid 2px #eeeeee;
        padding: 22px 30px 33px;
        overflow-y: scroll;
    }

    footer {
        margin-top: 30px;
        text-align: center;
        & > :nth-child(1) {
            width: 200px;
	        height: 36px;
        }
    }

    .detailTitle {
        height: 30px;
        font-size: 22px;
        text-align: left;
        text-align: center;
    }
    
    .detailTime {
        font-size: 12px;
        text-align: center;
        padding: 10px 0 20px;
    }
}