@import './_widget/commonRegister.scss';
.forgetPassword {

  .content{
    padding: 25px 15px;
    height: 700px;
    width: 850px;
    position: relative;
  }
  .back{
    position: absolute;
    right: 0;
    top: 370px;
  }
  .passWordChange{
    display: inline-block;
  }
}
