.registerPage{
  width: 900px;
  margin: 0 auto;
  padding-top: 45px;
  > h2{
    width:100%;
    height:40px;
    line-height:40px;
    font-size:18px;
    color:white;
    font-weight: normal;
    background: #ff5a00;
    border:1px solid #ccc;
    padding-left:30px;
    margin: 15px 0;
  }
}