.loadingContainer {
  position: fixed;
  top: 0px;
  z-index: 100000;
  width: 100%;
  height: 100%;

  .mask{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    opacity: 0.6;
  }

  .content {
    position: relative;
    z-index: 2;
    left: 50%;
    top:30%;
  }

}

