.costAdjustment_title {
  & > :nth-child(1) {
    color: rgba(0, 0, 0, 0.45);
  }
}
.costAdjustment_header {
  padding: 15px 26px;

  & > :nth-child(1) {
    margin-bottom: 16px;
  }

  .input {
    margin-left: 8px;
    width: 70%;
  }
}
.costAdjustment_section {
  margin: 24px 7px;
}
