@import "../../scss/_base.scss";

.changePassword{
  h1{
    margin:10px 5px;
    font-weight: 200;
    font-size: 20px;
  }
  .update{
    width: 500px;
    height: 400px;
    padding: 30px 10px;
    background: white;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
