.PopupWrap {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}

.PopupMain {
  margin: 130px auto 0;
  overflow: hidden;
  background-color: #fff;
  border-radius: 8px;
}
