<%- contentFor('header') %>
<h1 class="page-title"><%= _locals.title %></h1>

<%- contentFor('body') %>
This is part of the body.
<style>
    .page-message { color: blue }
</style>

<script>
    // Script content!
</script>

<h1 class="page-message"><%= message %></h1>