.categoryCol {
  min-width: 200px;
  ul {
    padding-left: 0;
    height: 200px;
    border: 1px solid #ddd;
    overflow-y: scroll;
    overflow-x: hidden;
    li {
        padding-left: 10px;
        font-size: 18px;
        height: 40px;
        line-height: 40px;
        list-style-type: none;
        white-space: nowrap;
        cursor: pointer;
        &:hover {
          background: #2ba0ff;
        }
        &.active {
          background: #63b6ff; 
        }
    }
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-track {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
        background: RGBA(0, 0, 0, 0.45);
        border-radius: 10px;
        // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
  }
}

.bread__crumb {
  padding: 10px 15px;
  border: 1px solid #FFE58F;
  background: #FFFBE6;
  .title {
    font-size: 14px;
    color: #000;
  }
  .content {
    color: #333;
  }
}
