@mixin clearfix {
  content: ".";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}

.clearfix {
  &:after {
    @include clearfix;
  }
}

@mixin bottom__line {
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: 1px solid #EEEEEE;
}
.orange {
  color: #FAAD14;
}
.content {
  margin: 15px;
  padding: 15px;
  min-width: 1000px;
  background: #fff;
  border-radius: 4px;
  .content__title {
    @include bottom__line;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 25px;
    padding-top: 0;
    padding-bottom: 12px;
    font-size: 16px;
  }
}

.product__info {
  margin: 25px auto;
  width: 100%;
  font-size: 16px;
}

.pd__form {
  margin-top: 25px;
  .pd__form__title {
    display: inline-block;
    margin-right: 1%;
    width: 14%;
    height: 32px;
    vertical-align: top;
    text-align: right;
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
  }
  .pd__form__content {
    display: inline-block;
    width: 85%;
  }
}

.bg__rect {
  padding: 20px;
  border-radius: 2px;
  border: 1px solid #DDDDDD;
  background: #F9F9F9;
}

.item__attr {
  margin-top: 12px;
  margin-bottom: 12px;
  .checkbox {
    min-width: 120px;
  }
}

.sku_td_input {
  text-align: center;
  border: none;
  border-radius: 0;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.sku_table {
  tbody tr td {
    padding: 0px;
    text-align: center;
    overflow: auto;
  }
}

.circle{
  width: 16px;
  height:16px;
  float:left;
  border: 1px solid #cccccc;
  -moz-border-radius:50px;
  -webkit-border-radius:50px;
  border-radius:50%;
}
