.CircleWrap {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    background-image: url(../image/bg.svg);
    background-size: cover;
    padding-top: 53px;

    & > :nth-child(1) {
        color: #3f86f8;
        font-weight: 600;
        font-size: 24px;
    }

    & > :nth-child(2) {
        font-size: 12px;
    }
}