.signin {
  font-family: 'Roboto';
  background:#ece9e8;
  position:fixed;
  top:0;
  left: 0;
  width:100%;
  height:100%;
  .signinHeader{
    height:104px;
    .title{
      width:1200px;
      margin:0 auto;
      padding-top: 23px;
      position:relative;
      .languageSwitch {
        position: absolute;
        left: 340px;
        top: 36px;
        font-size: 12px;
        .hover {
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .ezbuy {
        height:56px;
      }
      .span{
        color:#333;
        font-size: 22px;
        font-weight: normal;
        position:relative;
        bottom: 13px;
        margin-left: 10px;
        display: inline-block;
        padding-left: 15px;
        border-left:1px solid #999;
        line-height: 30px;
      }
    }
  }
  .content{
    height:513px;
    background: #ece9e8;
    position:relative;
    .main{
      position:relative;
      height:100%;
      width:1360px;
      margin:0 auto;
      background:url('../static/background.png');
      .signinForm{
        box-sizing: content-box;
        width:312px;
        background:white;
        position:absolute;
        right: 172px;
        top:69px;
        padding:50px 40px 40px;
        border:1px solid #dadada;
        .button{
          margin-top: 25px;
          margin-bottom: 15px;
          a{
            display:block;
            width:100%;
            line-height:37px;
            height:37px;
            text-align:center;
            background-color: #ff5a00;
            color:white;
            font-size:16px;
            &:hover {
              background-color: #ff7702;
              transition: all 0.2s;
            }
          }
        }
        .register{
          a{
            float:right;
            display:block;
            color:#3e82f7;
            &:hover {
              text-decoration: underline;
            }
          }
          height:28px;
          padding-bottom:10px;
        }
        .inputArea{
          margin-bottom: 20px;
          .tips{
            font-size:12px;
            margin-top: 10px;
            color:#aaa;
            a{
              color:black;
              font-family:'Roboto'
            }
            .sign-document {
              &:hover {
                color: #3e82f7;
                cursor: pointer;
              }
            }
            .label-custom-checkbox {
              display: inline-block;
              margin-right: 4px;
              position: relative;
              top: 2px;
              width: 15px;
              height: 15px;
              border: 1px solid #ddd;
            }
            .custom-checkbox {
              display: none;
            }
            .custom-checkbox + img {
              display: none;
            }
            .custom-checkbox:checked + img {
              display: inline-block;
              position: absolute;
              left: 0;
              top: 0;
            }
          }
          .title{
            margin-bottom:10px;
            a{
              color:#1686cc;
              float: right;
              font-size: 12px;
              position: relative;
              top:2px;
            }
            label{
              color:#666;
              font-size:14px;
              font-family: 'Roboto'
            }
          }
        }
      }
    }
  }
}
.ezbuyInput{
  height: 35px;
  width:100%;
  border:1px solid #ddd;
  padding-left:10px;
}
.ezbuyInput:focus{
  outline: 0;
  border:1px solid #1686cc;
}
