.taskHeader {
  display: flex;
  padding: 30px 50px;
  justify-content: space-between;
  border-bottom: 1px dashed #ccc;
}

.taskSection {
  padding: 30px 50px;
}

.taskSuccess {
  color: #6aa84f;
}

.taskFailure {
  color: #cc0000;
}

.formLabel {
  margin-right: 1rem;
}
