.home_header_container {
	min-width: 1000px;

	.header {
	  width: 100%;
	  height: 180px;
	  color: #fff;
	  background-image: url("../image/bg_blue.png");
	  background-size: cover;
	  .header__logo {
		height: 100%;
		text-align: center;
		padding-top: 24px;
		border-right: 1px dashed rgba(255, 255, 255, 0.3);
		p {
		  margin-top: 10px;
		  margin-bottom: 0;
		}
	  }
	  .logo__container {
		margin: 0 auto 10px;
		width: 80px;
		height: 80px;
		border: 50%;
	  }
	  .panel__info {
		margin-top: 30px;
		padding-left: 30px;
		&:after {
		  display: block;
		  content: " ";
			border-right: 1px dashed #fff;
		  height: 100%;
		  opacity: 0.3;
		  position: absolute;
		  top: 0;
		  right: 0;
		}
		&:last-child {
		  &:after {
			display: none;
		  }
		}
	  }
	  .header__panel--num {
		font-size: 30px;
		color: #ffffff;
		text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	  }
	}
	.header__right {
		height: 100%;
		padding: 24px 0;
	}
	.header__panel--name {
		font-size: 14px;
		font-weight: normal;
	}
  }
