@mixin clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}

.clearfix {
    @include clearfix();
}

.left__panel {
    position: fixed;
    min-width: 160px;
    width: 12.5%;
    padding: 70px 15px 0 30px;
    // min-width: 170px;
    min-height: 1200px;
    background: #fff;
    z-index: 9;
    .vertical__nav {
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        padding-top: 100px;
        width: 20px;
        height: 100%;
        cursor: pointer;
        background: #f8f8f8;
        border-right: 1px solid #ccc;
        transition: all 0.3s;
        &.expand {
            width: 100px;
        }
        .nav__content {
            .nav__btn {
                .item {
                    text-decoration: none;
                    .img {
                        margin: 0 auto;
                        max-width: 20px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        .nav__arrow {
            position: absolute;
            top: 0;
            right: 2px;
            padding-top: 40vh;
            width: 15px;
            height: 100%;
            &:hover {
                background: #f2f2f2;
            }
        }
    }
    .button__group,
    .nav__btn {
        transition: all 0.5s;
        text-align: center;
        a {
            color: #999;
        }
        .item {
            display: block;
            margin: 0 auto 10px;
            max-width: 75px;
            text-align: center;
            .active {
                display: none;
            }
            .text {
                display: block;
                height: 35px;
                padding-top: 10px;
                line-height: 1;
            }
            img {
                width: 100%;
            }
            &:hover {
                color: #4F9FFF;
                .active {
                    display: inline-block;
                }
                .default {
                    display: none;
                }
            }
            &.active {
                color: #4F9FFF;
                // background: #fff;
                .active {
                    display: inline-block;
                }
                .default {
                    display: none;
                }
            }
        }
    }
}

.header {
    position: fixed;
    width: 75%;
    padding: 15px;
    height: 70px;
    margin-bottom: 20px;
    z-index: 8;
    background: #fff;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    .client__type {
        .type {
            background: #fff;
            color: #3E82F7;
            &.active {
                color: #fff;
                background: #3E82F7;
            }
        }
    }
    .submit__btn {
        float: right;
        @mixin btn {
            width: 100px;
            height: 32px;
            border-radius: 2px;
        }
        .preview {
            @include btn();
            margin-right: 20px;
            color: #3E82F7;
            background: #fff;
        }
        .publish {
            @include btn();
            color: #fff;
            background: #3E82F7;
        }
    }
    &.model {
        border-left: none;
        border-right: none;
        width: 85%;
    }
}

.workbench {
    margin: 90px auto;
    background: #fff;
    padding: 30px;
    &.pc {
        width: 710px;
    }
    &.app {
        width: 375px;
    }
    .drag__content {
        padding: 2px;
        margin-bottom: 15px;
        &.edit__now {
            padding: 0px;
            border: 2px solid #ff5a00;
            overflow: hidden;
        }
    }
    .nav {
        ul {
            padding-top: 5px;
            padding-left: 5px;
            text-align: center;
            li {
                display: inline-block;
                margin-top: 0;
                margin-right: 15px;
                list-style: none;
                font-size: 12px;
            }
        }
    }
}

.fixed__container {
    position: fixed;
    height: 1000px;
    overflow-y: auto;
    width: 12.5%;
}

.right__panel {
    min-width: 160px;
    background: #fff;
    padding: 70px 15px 0;
    padding-bottom: 600px; // min-width: 170px;
    min-height: 1000px;
    .drag {
        .carousel {
            height: 150px;
        }
        .showcase__model {
            height: 100px;
        }
    }
    .waiting__online {
        text-align: center;
        font-size: 20px;
        color: #ccc;
        &.nav {
            .title {
                font-size: 16px;
                color: #666;
            }
            .default__title {
                font-size: 14px;
                color: #999;
            }
            .item {
                margin-top: 10px;
                p {
                    margin-bottom: 10px;
                    font-size: 14px;
                    text-align: left;
                    color: #999;
                }
                a {
                    display: inline-block;
                    width: 100%;
                    padding: 4px;
                    border: 1px solid #eee;
                    font-size: 14px;
                    color: #999;
                    &:hover {
                        color: #3E82F7;
                    }
                }
            }
        }
    }
}

.drag {
    position: relative;
    width: 100%;
    overflow: hidden;
    background: #f2f2f2;
    cursor: pointer;
    &:hover {
        .delete {
            display: block;
        }
    }
    .left__tag {
        position: absolute;
        left: 5px;
        top: 5px;
        width: 60px;
        background: #E8E9EC;
        color: #666;
        opacity: 0.75;
        text-align: center;
        z-index: 1;
    }
    .delete {
        display: none;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 0;
        width: 80px;
        height: 25px;
        font-size: 14px;
        text-align: center;
        color: #fff;
        background: #ff5a00;
        cursor: pointer;
    }
    .number {
        position: absolute;
        right: 5px;
        top: 5px;
        width: 15px;
        height: 15px;
        line-height: 14px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #999;
    }
}

.imageBox {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.showcase__model {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px dashed #3E82F7;
    background: #f2f2f2;
    &:hover {
        background: rgba(255, 90, 0, 0.1)
    }
    div {
        overflow: hidden;
        position: relative;
    }
}

.carousel {
    position: relative;
    @mixin arrow {
        position: absolute;
        top: 45%;
        font-size: 20px;
        z-index: 9;
    }
    .left__arrow {
        @include arrow();
        left: 10px;
    }
    .right__arrow {
        @include arrow();
        right: 10px;
    }
    >div {
        width: 100%;
        height: 100%;
        transition: all 0.5s;
    }
    >div>div {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

.pc {
    .drag__content {
        .banner {
            height: 53px;
        }
        .nav {
            height: 32px;
            ul {
                li {
                    margin-right: 60px;
                }
            }
        }
        .carousel,
        .showcase__model {
            height: 270px;
        }
    }
}

.app {
    .drag__content {
        .banner {
            height: 106px;
        }
        .nav {
            height: 32px;
            ul {
                li {
                    font-size: 12px;
                }
            }
        }
        .carousel,
        .showcase__model {
            height: 150px;
        }
    }
}

.imgContent__edit__model {
    margin-bottom: 30px;
}