@import '../../../scss/_base.scss';

.settleProtocol{
  >.mask{
    position:fixed;
    width:100%;
    height:100%;
    left: 0;
    top:0;
    background: rgba(0,0,0,0.5);
    z-index: 1000;
    @include flexbox(row, center, center, null);
  }
}
.settleContent{
  width:800px;
  border:1px solid #ccc;
  padding: 20px;
  background: white;
  header{
    text-align:center;
    font-size: 20px;
    color:#000;
  }
  .protocol{
    width:100%;
    height:500px;
    border:2px solid #ccc;
    margin-bottom: 10px;
    overflow: scroll;
    padding:15px;
    .shipList{
      img{
        width:100%;
      }
    }
    h1{
      text-align:center;
      font-size:20px;
      font-weight: normal;
    }
    .paragraph{
      margin-bottom:20px;
    }
    .tab{
      margin-left:10px;
    }
  }
}